.right-panel {
    background-color: var(--panel-color);
    margin: 20px;
    margin-left: 0px;
    float: right;
    justify-self: end;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .in-chat-control {
        height: 71px;
        display: flex;
        justify-content: space-between;
        padding: 16px 32px;
        padding-right: 16px;
        border-bottom: 1px solid var(--border-color);

        .chat-info {
            user-select: none;

            .name {
                font-size: 16px;
            }

            .status-info {
                display: flex;
                padding-top: 2px;

                .status {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    margin: auto 0;
                    background-color: var(--placeholder-color);
                }

                .status-text {
                    padding-left: 8px;
                    font-size: 14px;
                }

                .online {
                    background-color: var(--online-color);
                }

                .dont-disturb {
                    background-color: var(--dont-disturb-color);
                }
            }
        }

        .chat-buttons {
            display: flex;
            gap: 16px;

            button {
                width: 40px;
                height: 40px;
                background-size: 80%;
                border: none;
                background-color: inherit;
                background-repeat: no-repeat;
                background-position: center;
                margin: auto 0;
                cursor: pointer;
            }
            .additionally {
            }
        }
    }

    @keyframes dissolveShowMessages {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .scroll-block {
        height: calc(100% - 58px - 71px - 16px);
        overflow: scroll;
        overflow-x: hidden;
        align-content: end;
        opacity: 0;
        width: 90%;
        min-width: 300px;
        max-width: 980px;
        margin: 0 auto;
        animation: dissolveShowMessages 2s ease-out forwards;

        &::-webkit-scrollbar {
            display: none;
        }

        scrollbar-width: none;

        -ms-overflow-style: none;

        .message-block {
            display: flex;
            margin: 0px 8px;

            .image {
                min-width: 30px;
                max-width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: var(--placeholder-color);
                margin: auto 0 8px;
            }

            .message {
                background-color: var(--message-user-block-color);
                width: fit-content;
                max-width: 300px;
                padding: 12px;
                border-radius: 12px;
                border-bottom-left-radius: 4px;
                margin: 8px;
                display: flex;
                flex-direction: column;
    
                &.my-self {
                    background-color: var(--message-myself-block-color);
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 4px;
                    float: right;
                    margin: 8px 0px 8px auto;
    
                    .date {
                        float: left;
                        align-self: start;
                    }
                }
    
                .name {
                    font-size: 14px;
                    color: var(--main-color);
                }
                .message-text {
                    font-size: 14px;
                }
                .date {
                    padding-top: 4px;
                    span {
                        
                        float: right;
                        align-self: end;

                        font-size: 10px;
                        color: var(--meta-text-color) !important;
                    }
                }
            }
        }
    }

    .write-message-block {
        position: absolute;
        width: 90%;
        min-width: 300px;
        max-width: 980px;
        bottom: 16px;
        background-color: var(--panel-color);
        border: 1px solid var(--border-color);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 8px 8px;

        button {
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            background-color: inherit;
            background-position: center;
            border: none;
            margin: auto 0;
            background-size: 70%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .content {
            display: flex;
            width: 100%;

            input {
                border: none;
                width: 100%;
                outline: none;
                padding: 0px 16px;
                font-size: 14px;
            }
        }
        .buttons {
            display: flex;
            gap: 8px;
        }
    }
}

.ai-idea {
    position: absolute;
    top: -10%;
    right: 50%;
    transform: translate(50%);
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    opacity: 0;
    transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out;

    .icon {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;

        &.ai-idea-icon {
            rotate: 30deg;
        }

        &.exit-icon {
            width: 32px;
            height: 32px;
            margin-left: 8px;
        }
    }
    .idea {
        margin-left: 8px;
        padding-right: 8px;

        .idea-header {
            span {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .idea-text {
            span {
                font-size: 12px;
                color: var(--meta-text-color);
            }
        }
    }

    &.active {
        top: 80px;
        opacity: 1;
    }
}